@use "sass:math";
@import "_/_Lib";
@import "_/Core";
@import "Lalilo";
@import "_/Bootstrap";

body {
  position: relative;

  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0 0 0 0;
  color: rgba(90, 90, 90, 1);

  font-size: 16px;
  text-align: center;
  font-family: "Noto Sans TC", "Roboto", "Helvetica Neue", "HelveticaNeue",
    Helvetica, Arial, sans-serif;

  background-color: #d60000;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none !important;

  &:after,
  &:before {
    color: black;
    vertical-align: middle !important;
  }

  &:hover {
    text-decoration: underline;
  }
}

button {
  outline: non !important;
  border-width: 0;
}

header {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85); /* 半透明黑色 */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }
}

// menu
/* 基本樣式 */
.custom-nav {
  position: relative;
  color: #000;
  padding-bottom: 5px;
  transition: color 0.3s ease;

  /* 滑鼠滑過去：變紅字 */
  &:hover {
    color: #d60000 !important;

    /* 滑鼠滑過去時，線條長出來 */
    &:after {
      width: 100%;
    }
  }

  /* 下方線條 */
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #d60000;
    transition: width 0.4s ease;
  }
}

/* 如果是 active 頁籤就直接顯示紅線與紅字 */
.custom-nav {
  &.active {
    color: #d60000 !important;

    &:after {
      width: 100%;
    }
  }
}

// boostratp

// other

.cent01 {
  position: relative;
  margin: 0;
  padding: 80px 0 0 0;
  overflow-x: hidden;

  /* 右上角 - 淺米色色塊 */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 500px; /* 可依畫面大小調整 */
    height: 450px; /* 高度依設計調整 */
    background-color: #f7f3ed; /* 淺米色 */
    z-index: 0;
  }

  /* 右下角 - 深灰色色塊 */
  &:after {
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    width: 300px;
    height: 620px;
    background-color: #2d292c; /* 深灰色 */
    z-index: 0;
  }
}

#mainCarousel {
  z-index: 1;
}
